<div class="contenedor col-md-10">
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Dirección</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas">
        <td>{{ persona.nombres }}</td>
        <td>{{ persona.apellidos }}</td>
        <td>{{ persona.email }}</td>
        <td>{{ persona.direccion }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
